# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex==0.1
ca-certificates==2021.1.19
certifi==2020.12.5
click==7.1.2
flask==1.1.2
flask_cors==3.0.10
gunicorn==20.0.4
itsdangerous==1.1.0
jinja2==2.11.3
jpeg==9b
krb5==1.18.2
ld_impl_linux-64==2.33.1
libcurl==7.71.1
libedit==3.1.20191231
libffi==3.3
libgcc-ng==9.1.0
libssh2==1.9.0
libstdcxx-ng==9.1.0
libtiff==4.1.0
lz4-c==1.9.3
markupsafe==1.1.1
ncurses==6.2
openssl==1.1.1i
pip==20.3.3
proj==7.2.0
pyproj==3.0.0.post1
python==3.8.5
python_abi==3.8
readline==8.1
setuptools==52.0.0
six==1.15.0
sqlite==3.33.0
tk==8.6.10
tzdata==2020f
werkzeug==1.0.1
wheel==0.36.2
xz==5.2.5
zlib==1.2.11
zstd==1.4.5
