<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="static/css/home.css">
  <link rel="stylesheet" href="static/css/icons.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
  <div class="header">
    <h1>Geo-locs</h1>
    <p>Un joc que posa a prova el teu coneixement sobre el territori</p>
  </div>

  <div class="topnav w3-amber">
    <a href="https://github.com/ecasellas/geo-locs" class="fa fa-github w3-right"></a>
    <a href="https://twitter.com/enricasellas" class="fa fa-twitter w3-right"></a>
  </div>

  <div class="row rowcolumn">
    <h2>Instruccions</h2>
    <p>El joc consisteix en encertar la localització de diferents elements que se't mostraran en un mapa.</p>
    <ol>
      <li>Escull un dels jocs que trobaràs sota d'aquestes instruccions.</li>
      <li>Mitjançant el boto desplegable "Mode", tria el nombre de llocs amb què vols jugar en una sola
        partida. N'hi ha des de 5 llocs fins a 30.</li>
      <li>Una vegada escollit, clica "Juga" i t'apareixerà el primer lloc que has de trobar al mapa.</li>
      <li>Clica sobre el lloc del mapa que creus que correspon a l'indret que se't demana.</li>
      <li>Si n'estàs segur i no vols canviar de lloc, clica "Confirma" i descobreix si t'hi has apropat!</li>
      <li>Com més t'apropis al lloc que has de cercar, més punts tindràs. Si l'encertes, t'endús 1000 punts.</li>
      <li>Quan hagis arribat al nombre de llocs que hagis triat al punt 2, se't mostrarà la puntuació final.</li>
    </ol>
  </div>

  <div class="row">
    <div class="column">
      <h2>Els cims més emblemàtics de Catalunya</h2>
      <p>La Federació d'Entitats Excursionistes de Catalunya (<a
          href="https://www.feec.cat/activitats/100-cims/">FEEC</a>) ha creat un llistat de 308 muntanyes
        representatives
        de Catalunya, la Catalunya del Nord i Andorra.
        En aquesta modalitat de joc hauràs de localitzar diferents cims.
      </p>
      <a id="btnCatPeaks" href="catalan-peaks" class="w3-button w3-amber">Juga-hi!</a>
    </div>

    <div class="column">
      <h2>Les muntanyes de Badalona tenen nom propi</h2>
      <p>La <a
        href="https://revistadebadalona.cat/les-muntanyes-de-badalona-tenen-nom-propi/">Revista de Badalona</a> en un article d'Oriol Rodríguez ens apropa la Serralada de Marina, que s'ha convertit en un pols de lleure per a molts badalonins durant aquests darrers mesos.
        Uns turons que tenen nom propi i que, sovint, són desconeguts. Sabríeu localitzar-los?
        En aquesta modalitat de joc hauràs de localitzar diferents turons i colls.
    </p>
      <a id="btnBdnPeaks" href="bdn-peaks" class="w3-button w3-amber">Juga-hi!</a>
    </div>

    <!-- <div class="column">
      <h2>En construcció</h2>
      <p>En construcció.</p>
    </div>

    <div class="column">
      <h2>En construcció</h2>
      <p>En construcció.</p>
    </div> -->
  </div>
</body>

</html>