<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="static/css/w3.css">
    <link rel="stylesheet" href="static/css/home.css">
    <script src="static/js/jquery.min.js"></script>
    <script>
        $(function () {
            $("#navigation").load("{{url_for('navigation')}}");
        });
    </script>
</head>

<body>
    <!-- <div id="navigation"></div> -->
    <div class="header">
        <h1>Geo-loc</h1>
        <p>El joc que posa a prova el teu coneixement sobre el territori</p>
      </div>
      
      <div class="topnav">
        <a href="#">Inici</a>
        <a href="#">Instruccions</a>
        <a href="#">Classificació</a>
      </div>
      
      <div>
          <h1>Abans de jugar</h1>
          <p>asdasdasdsa</p>
      </div>
</body>

</html>