<div id="navigation" class="w3-bar w3-amber">
    <a href="home" class="w3-bar-item w3-button">Inici</a>
    <div class="w3-dropdown-hover">
        <button class="w3-button">Juga</button>
        <div class="w3-dropdown-content w3-bar-block w3-card-4">
            <a href="mrrpro-ub01" class="w3-bar-item w3-button">MRRPRO - UB01</a>
            <a href="mrrpro-ub02" class="w3-bar-item w3-button">MRRPRO - UB02</a>
        </div>
    </div>
    <div class="w3-dropdown-hover">
        <button class="w3-button">Classificació</button>
        <div class="w3-dropdown-content w3-bar-block w3-card-4">
            <a href="pars1-ub01" class="w3-bar-item w3-button">Parsivel 1 - UB01</a>
        </div>
    </div>
</div>