<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="static/css/w3.css">
    <link rel="stylesheet" href="static/css/home.css">
    <script src="static/js/jquery.min.js"></script>
    <script>
        $(function () {
            $("#navigation").load("{{url_for('navigation')}}");
        });
    </script>
</head>

<body>
    <!-- <div id="navigation"></div> -->
    <div class="header">
        <h1>Geo-loc</h1>
        <p>El joc que posa a prova el teu coneixement sobre el territori</p>
      </div>
      
      <div class="topnav">
        <a href="home">Inici</a>
        <a href="instructions">Instruccions</a>
      </div>
      
      <div class="row">
        <div class="column">
          <h2>Els cims més emblemàtics de Catalunya</h2>
          <p>La Federació d'Entitats Excursionistes de Catalunya (FEEC) ha creat un llistat de 308 muntanyes representatives de Catalunya, la Catalunya del Nord i Andorra.
             En aquesta modalitat de joc hauràs de localitzar diferents cims.             
          </p>
          <a id="btnCatPeaks" href="catalan-peaks" class="w3-button w3-amber">Juga-hi!</a>
        </div>
        
        <div class="column">
          <h2>Column</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pretium urna. Vivamus venenatis velit nec neque ultricies, eget elementum magna tristique. Quisque vehicula, risus eget aliquam placerat, purus leo tincidunt eros, eget luctus quam orci in velit. Praesent scelerisque tortor sed accumsan convallis.</p>
        </div>
        
        <div class="column">
          <h2>Column</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pretium urna. Vivamus venenatis velit nec neque ultricies, eget elementum magna tristique. Quisque vehicula, risus eget aliquam placerat, purus leo tincidunt eros, eget luctus quam orci in velit. Praesent scelerisque tortor sed accumsan convallis.</p>
        </div>
      </div>
</body>

</html>